<template name="newList">
<div class="newlist-container">


<form class="newList">
<div class=" form-group">
<label>Title</label>
<input class="nova  form-control" name="title">
</div>

<div class=" form-group">
<label>Teaser</label>
<textarea class="nova  form-control" name="teaser"></textarea>
</div>

<div class=" form-group">
<label>Featured Image</label>
<input class="nova" type="file" >
<p>
    <br>
<img src="{{featuredImage.res.url}}">
</p>
</div>

<button type="submit" class=" btn  btn-primary">Create List</button>
<br>
<br>
<p class=" text-caption">
All new lists start out as 'draft', you can publish them after you add all of the slides.
</p>
</form>
</div>
</template>
