<template name="about">
{{>nav}}
<div class=" container">
    <div style="" class="jumbo">
    <h1 class=" text-headline  text-white  text-center nova" >About</h1>
    </div>
<div class=" col-sm-3"></div>
<div class=" col-sm-6 ">

<div class=" text-body1">
<p>LYSTIFY is a gallery list post tool built to help publishers offer easy-to-use compelling multi-stage content and increase pageviews all within one management console.</p>
<p>Each time a user clicks into a new slide, a google analytics pageview is tracked and you can refresh your ad unit(s).</p>

<p>After a user cycles through your LYSTIFY gallery, we automatically suggest your other popular galleries which drives even more pageviews. This process goes round and round.</p>

<p>We also offer our customers custom integrations, so if you have a custom use case - lets talk about it!</p>


</div>
<br>

<div class=" panel bigEntrance">


    <form class="joinLystify">
        <div class=" text-headline nova">REQUEST LYSTIFY ACCESS</div>
        <p>To join LYSTIFY you must fill out the form below, our team will get back to you within 24 business hours guaranteed.</p>
        <br>
    <div class=" form-group">
    <label>Your Website URL</label>
    <input placeholder="google.com" class=" form-control" name="siteURL">
    </div>

    <div class=" form-group">
    <label>Email</label>
    <input placeholder="you@yourwebsite.com" class=" form-control" name="email">
    </div>

    <div class=" form-group">
    <label>Phone</label>

    <input placeholder="406-370-5555" class=" form-control" name="phoneNumber">
    </div>

    <div class=" form-group">
    <label>Use Cases (how will you use Lystify?)</label>

    <textarea class=" form-control" placeholder="ex. List Posts, Photo Galleries, Video Galleries" name="useCase"></textarea>
    </div>

<button type="submit" class=" btn  btn-default  btn-raised">Submit</button>
    </form>
</div>
<div style="cursor:pointer" class="imgcont bigEntrance"><img src="/screenshot.png"></div>
<div style="cursor:pointer" class="imgcont bigEntrance"><img src="/screenshot2.png"></div>
<div style="cursor:pointer" class="imgcont bigEntrance"><img src="/screenshot3.png"></div>
<div style="cursor:pointer" class="imgcont bigEntrance"><img src="/screenshot4.png"></div>
</div>

<div class=" col-sm-3"></div>


</div>
</template>
