<template name="home">
{{#if currentUser}}
{{>nav}}
    <div class="mui-container-fluid">
        <div class="mui-row">
            <div class="mui-col-sm-3">
                <div class="mui-text-headline active nova">New List</div>
                <div class="mui-panel">
            {{>newList}}
            </div></div>


<div class="mui-col-sm-4">
    <div class="mui-row">
    <div class="mui-col-sm-12">
    <div class="mui-text-headline nova">DRAFT Lists</div>
        {{#if drafts}}
        {{else}}
        <div class="mui-text-caption"><i>No Drafts</i></div>
        {{/if}}
        {{#each drafts}}

        {{#if featuredImage}}
        <div class="mui-panel">
        <div class="mui-row">

        <div class="mui-col-sm-12">
            <a href="/p/list?id={{_id}}">    <img style="width:100%" src="{{featuredImage.url}}"></a>
        <a href="/p/list?id={{_id}}"><div class="mui-text-headline  nova">{{title}}</div></a>
        <p class="nova mui-text-caption">{{teaser}}</p>
        <div class="mui-text-center">
        <div class="mui-text-body2 nova">Pageviews</div>
        <div class="statnum mui-text-headline nova">    <i class="fa fa-bar-chart"></i>  {{pageviews.pageviews}}</div>
        </div>

        <hr>
        <p class="text-center">
            <a href="/p/editPromo?id={{_id}}"  class="mui-btn mui-btn-default mui-btn-raised mui-pull-left mui-text-danger">Edit</a>
            <a class="mui-btn-success mui-btn mui-pull-right mui-btn-raised" href="#" onclick="ListPosts.update({'_id':'{{_id}}'},{$set:{'status':'live'}})">Activate <i class="fa fa-arrow-right"></i></a>

        </p>
        </div>
        </div>
    </div>
        {{/if}}

        {{/each}}

        </div>



    </div>
</div>
<div class="mui-col-sm-5">
<div class="mui-row">
<div class="mui-col-sm-12">
<div class="mui-text-headline nova">LIVE Lists</div>
{{#if published}}
{{else}}
<div class="mui-text-caption"><i>No Live Lists Yet...</i></div>
{{/if}}
{{#each published}}

{{#if featuredImage}}
<div class="mui-panel">
<div class="mui-row">
<div class="mui-col-sm-4">



</div>
<div class="mui-col-sm-12">
<a href="/p/list?id={{_id}}">    <img style="width:100%" src="{{featuredImage.url}}"></a>
<a href="/p/list?id={{_id}}"><div class="mui-text-headline  nova">{{title}}</div></a>
<p class="nova mui-text-caption">{{teaser}}</p>
<br>
<div class="mui-text-center">
<div class="mui-text-body2 nova">Pageviews</div>
<div class="statnum mui-text-headline nova">    <i class="fa fa-bar-chart"></i>  {{pageviews.pageviews}}</div>
</div>

<hr>
<p class="text-center">
    <a href="/p/editPromo?id={{_id}}"  class="mui-btn mui-btn-default mui-btn-raised mui-pull-left mui-text-danger">Edit</a>
    <a class="mui-btn-deactivate mui-btn-raised mui-btn mui-pull-right" href="#" onclick="ListPosts.update({'_id':'{{_id}}'},{$set:{'status':'draft'}})"><i class="fa fa-arrow-left"></i> DeActivate</a>

</p>
</div>
</div>
</div>
{{/if}}

{{/each}}

</div>



</div>


</div>
</div>
</div>
{{else}}
{{>about}}
{{/if}}
</template>
