<template name="listMod">
<style>
h2.nova{
    display:none;
}
</style>
    <div class="nova  container">

        <div class="list-container">

            {{#if loading}}
            <div class=" row">
            <div class=" col-sm-3"></div>
            <div class="loader  col-sm-6  text-center">
            <div class="loadingtop">
            </div>
            <div class="loadingbottom">
            <p class="loader nova"><i class="fa fa-spin fa-spinner"></i></p>
            </div>
            </div>
            </div>
            {{else}}
            {{#if slideCheck}}



            <div class=" row">

            <div class=" col-sm-3"></div>
            <div class=" col-sm-6  text-center">
                {{>mobilead}}
                <div class="control-container">
                <!-- <h1 class=" text-headline nova">{{thisList.title}}</h1> -->
                {{#if thisList.teaser}}
                <div class=" teaser">
                <!-- <p class=" text-caption nova">{{thisList.teaser}}</p> -->
                </div>
                {{/if}}


            </div>

        </div>
        <div class=" col-sm-3"></div>
            </div>
            <div class=" row megarow fadeIn">
                <div class=" col-sm-3">
                </div>
                <div class=" col-sm-6">
                    <img src="{{theSlide.featuredImage}}" style="width:100%" class="featuredImage">

                    <div class=" panel thepan">
                        <div class=" row">
                        <div class=" col-xs-2  text-center"><div class=" text-headline">#{{theSlide.number}}</div></div>
                        <div class=" col-xs-9">
                            <div class=" text-headline slide-title"> {{theSlide.title}}</div>
                            <p class="nova desc">{{theSlide.description}}</p>
                        </div>
                    </div>
                    <hr>
                    <div class=" row ">
                        <div class=" col-xs-6  text-left">
                        <div class="control-buttons  text-left">
                            {{#if prevSlide}}<div class=" btn  btn-primary prevSlide  btn-raised nova">
                                #{{prevSlide}} <i class="fa fa-caret-left"></i>  Prev </div> {{else}}<a
                                    href="/p/listMod?id={{theSlide.parent}}&slide=1000&prod=true" class=" btn
                                    btn-default   btn-raised nova"><i class="fa fa-caret-left"></i></a> {{/if}}
                        </div>
                        </div>

                        <div class=" col-xs-6  text-right">
                        {{#if nextSlide}}<div class=" btn  btn-primary nextSlide  btn-raised nova">Next <i class="fa fa-caret-right"></i>  #{{nextSlide}}</div>{{else}}<a href="/p/listMod?id={{theSlide.parent}}&slide=1000&prod=true" class=" btn  btn-default   btn-raised nova">More</a> {{/if}}
                        </div>
                        </div>
                    </div>
                </div>
                <div class=" col-sm-3">
                </div>
                <div class=" col-sm-6">



                    <!-- <div class=" text-center">
                        <div id='div-gpt-ad-1438189544118-0' style='height:250px; width:100%;'>
                            <script type='text/javascript'>
                                googletag.cmd.push(function() {
                                    googletag.display('div-gpt-ad-1438189544118-0');
                                });
                            </script>
                        </div>
                    </div> -->
                </div>




            </div>


        {{else}}
        <div class="  more">

        <div class=" row">
            <div class=" col-sm-3">
            </div>
            <div class=" col-sm-6">
<h1 class=" text-headline  text-center nova">You Might Also Like</h1>
<div class=" man">

        {{#each moreLists}}



        <div style="position:relative;margin-bottom:10px"  class=" teasercard  col-sm-12">
            <div class=" panel">
            <a href="#" onclick="window.location.href='/p/listMod?id={{_id}}&slide={{slideCountMore}}{{#if production}}&prod=true{{/if}}'">    <img src="{{featuredImage.url}}"></a>

                <div class=" text-subhead  text-black awesome-title nova"><a href="#" onclick="window.location.href='/p/listMod?id={{_id}}&slide={{slideCountMore}}{{#if production}}&prod=true{{/if}}'" class=" text-headline nova more-title">{{title}}</a></div>
                <p class=" text-caption nova">{{teaser}}</p>

        </div>
        </div>




        {{/each}}
        </div>
        <br>
        </div>
        </div>
        </div>

        {{/if}}
        <div class=" row">
        <div class=" col-sm-3">
        </div>
        <div class=" col-sm-6">
<div class="bottomad">
{{>bottomad}}
</div>

        </div>
        </div>
{{/if}}
</div>
{{#if thisList}}
<div class=" text-center">
    <br>
<i class="fa fa-bar-chart"></i>
<div class="statnum  text-headline nova">{{pageViews.pageviews}}</div>
{{#if currentUser}}
<hr>
<a href="#" onclick="window.parent.location.href='/p/list?id={{thisList._id}}'">Edit</a>
{{/if}}
</div>
{{/if}}
    </div>

<style>
. text-subhead.listtitle.nova a{
    color:#fff;
}
. text-subhead.listtitle.nova {
    text-transform: uppercase;
    padding: 13px;
    background-color: #000;
    line-height: 1;
    margin-bottom: 10px;
    margin: -15px;
    margin-bottom: 16px;
    color: #FFF;
}. text-headline.morelists. text-white {
    margin-bottom: 14px;
    margin-top: -6px;
}h1. text-headline.nova {
    font-weight: lighter;
    text-transform: uppercase;
    line-height: 1;
    font-size: 3em;
    color: #5D5D5D;
}p. text-caption.nova {
    background-color: #FFF;
    padding: 10px;
    margin-top: -22px;
    font-size: 14px;
}h1. text-headline.nova {
    font-weight: lighter;
    text-transform: uppercase;
    line-height: 1;
    font-size: 2em;

}. text-center.lystify-container . text-caption {
    margin-bottom: -12px;
}
. text-center.lystify-container {
    margin-top: 16px;
}.loadingbottom {
    height: 600px;
    background-color: #F1F1F1;
    padding: 103px;
    color: #5E5D5D;
}.loadingtop {
    padding: 57px;
    background-color: #E9E9E9;
    margin-top: 21px;
}
</style>
<div class=" text-center lystify-container">
    <div class=" text-caption lystify nova">powered by</div>
    <div class=" text-headline lystify nova" style="cursor:pointer;" onclick="window.parent.location='http://'+window.location.host+'/p/about'">LYSTIFY</div>
</div></template>
