<template name="editSlide">
    {{>nav}}
<div class=" container">
<div class=" row">
    <div class=" col-sm-3"></div>
        <div class=" col-sm-6">
<form class="editSlideForm">
<h2 class="nova">Edit Slide</h2>

<div class=" form-group">
<label>Title</label>
<input name="title" value="{{slide.title}}" class=" form-control">
</div>

<div class=" form-group">
<label>Description</label>
<textarea name="teaser"  class=" form-control">{{slide.description}}</textarea>
</div>

<div class=" form-group">
<label>Number</label>
<input  name="number" value="{{slide.number}}" class=" form-control">
</div>

<div class=" form-group">
<label>Image</label>
<input  value="{{slide.featuredImage}}" class=" form-control" type="file">
<img width="300px" src="{{slide.featuredImage}}">
</div>
<button class=" btn  btn-primary" type="submit">Save</button>
</form>
</div>
</div>
</div>
</template>
