<template name="gallery">
<style>
h2.nova{
    display:none;
}
</style>
    <div class="nova  container-fluid">

        <div class="list-container">

            {{#if loading}}
            <div class=" row">

            <div class="loader  col-sm-12  text-center">

            <div class=" col-sm-7">
            <div class="loadingbottom">
            <p class="loader nova">LOADING...</p>
        </div>
            </div>
            <div class=" col-sm-5">
            <div class="loadingtop">
            </div>
        </div>
            </div>
            </div>
            {{else}}
            {{#if slideCheck}}



            <div class=" row">

            <div class=" col-sm-3"></div>
            <div class=" col-sm-12  text-left">
                {{>mobilead}}
                <div class="control-container">
                <!-- <h1 class=" text-headline nova" style="color:#fff">{{thisList.title}}</h1> -->
                {{#if thisList.teaser}}
                <div class=" teaser">
                <!-- <p class=" text-caption nova">{{thisList.teaser}}</p> -->
                </div>
                {{/if}}


            </div>

        </div>
        <div class=" col-sm-3"></div>
            </div>
            <div class=" row megarow ">
                <div class=" col-sm-7">
                    <img src="{{theSlide.featuredImage}}" style="width:100%" class="featuredImage">
                    <hr>
                    {{>bottomad}}
                </div>
                <div class=" col-sm-5">


                    <div class=" panel thepan">
                        <div class=" row">
                        <div class=" col-xs-2  text-center"><div class=" text-headline">#{{theSlide.number}}</div></div>
                        <div class=" col-xs-9">
                            <div class=" text-headline slide-title"> {{theSlide.title}}</div>
                            <p class="nova desc">{{theSlide.description}}</p>
                        </div>
                    </div>
                    <hr>
                    <div class=" row ">
                        <div class=" col-xs-6  text-left">
                        <div class="control-buttons  text-left">
                            {{#if prevSlide}}<div class=" btn  btn-primary prevSlide  btn-raised nova"> #{{prevSlide}} <i class="fa fa-caret-left"></i>  Prev </div> {{else}}<a href="/p/gallery?id={{theSlide.parent}}&slide=1000&prod=true" class=" btn  btn-default   btn-raised nova">More</a> {{/if}}
                        </div>
                        </div>

                        <div class=" col-xs-6  text-right">
                        {{#if nextSlide}}<div class=" btn  btn-primary nextSlide  btn-raised nova">Next <i class="fa fa-caret-right"></i>  #{{nextSlide}}</div>{{else}}<a href="/p/gallery?id={{theSlide.parent}}&slide=1000&prod=true" class=" btn  btn-default   btn-raised nova">More</a> {{/if}}

                        </div>

                        </div>

                    </div>
                    <!-- <hr>
                    {{>bottomad}} -->
                </div>
                <div class=" col-sm-3">
                </div>
                <div class=" col-sm-6">



                    <!-- <div class=" text-center">
                        <div id='div-gpt-ad-1438189544118-0' style='height:250px; width:100%;'>
                            <script type='text/javascript'>
                                googletag.cmd.push(function() {
                                    googletag.display('div-gpt-ad-1438189544118-0');
                                });
                            </script>
                        </div>
                    </div> -->
                </div>




            </div>


        {{else}}
        <div class="  more">

        <div class=" row">

            <div class=" col-sm-12">
<h1 class=" text-headline  text-center nova">You Might Also Like</h1>
<div class=" man">

        {{#each moreLists}}
        {{#if featuredImage}}


        <div style="position:relative;margin-bottom:10px"  class=" teasercard  col-sm-4">
            <div class=" panel">
            <a href="#" onclick="window.location.href='/p/gallery?id={{_id}}&slide={{slideCountMore}}{{#if production}}&prod=true{{/if}}'">    <img src="{{featuredImage.url}}"></a>

                <div class=" text-subhead  text-black awesome-title nova"><a href="#" onclick="window.location.href='/p/gallery?id={{_id}}&slide={{slideCountMore}}{{#if production}}&prod=true{{/if}}'" class=" text-headline nova more-title">{{title}}</a></div>

                <p class=" text-caption nova">{{teaser}}</p>

        </div>

        </div>


{{/if}}

        {{/each}}
        </div>
        <br>
        </div>
        </div>
        </div>

        {{/if}}
        <div class=" row">
        <div class=" col-sm-3">
        </div>
        <div class=" col-sm-6">
<div class="bottomad">

</div>

        </div>
        </div>
{{/if}}
</div>
{{#if thisList}}
<div class=" text-right  container-fluid more">
    <br>
{{#if pageViews}}
<div class="statnum  text-headline nova"><i class="fa fa-bar-chart"></i> {{pageViews.pageviews}}</div>
{{/if}}
</div>
{{/if}}
<div class=" container-fluid list-container">
<div class=" text-right lystify-container">
    <div class=" text-caption  text-white lystify nova">powered by <span class=" text-white  text-caption lystify nova" style="cursor:pointer;" onclick="window.parent.location='http://'+window.location.host+'/p/about'">LYSTIFY</span> | {{#if currentUser}}<a href="#" onclick="window.parent.location.href='/p/list?id={{thisList._id}}'">Edit</a>{{/if}}</div>


</div>
</div>
    </div>

<style>
. text-subhead.listtitle.nova a{
    color:#fff;
}
. text-subhead.listtitle.nova {
    text-transform: uppercase;
    padding: 13px;
    background-color: #000;
    line-height: 1;
    margin-bottom: 10px;
    margin: -15px;
    margin-bottom: 16px;
    color: #FFF;
}. text-headline.morelists. text-white {
    margin-bottom: 14px;
    margin-top: -6px;
}h1. text-headline.nova {
    font-weight: lighter;
    text-transform: uppercase;
    line-height: 1;
    font-size: 3em;
    color: #5D5D5D;
}p. text-caption.nova {
    background-color: #FFF;
    padding: 10px;
    margin-top: -22px;
    font-size: 14px;
}h1. text-headline.nova {
    font-weight: lighter;
    text-transform: uppercase;
    line-height: 1;
    font-size: 2em;

}. text-center.lystify-container . text-caption {
    margin-bottom: -12px;
}
. text-center.lystify-container {
    margin-top: 16px;
}.nova. container {
    background-color: #000;
}body {
    background: #000;
}. panel {
    background-color: #191919;
}. text-headline.slide-title {
    color: #FFF;
}p.nova.desc {
    color: #9E9E9E;
}. text-headline, h2 {
    font-size: 2em;
    line-height: 32px;
    color: rgba(233, 231, 231, 0.87);
}p. text-caption.nova {
    color: #959595;
}. panel {
    background-color: #111;
}. more a. text-headline.nova.more-title {
    font-weight: inherit;
    font-size: 2em;
    margin-top: 0px;
    color: #FFF;
}. text-headline.slide-title {
    color: #FFF;
    font-weight: normal;
}. btn-primary {
    color: #FFF;
    background-color: #142C29!important;
}h1. text-headline.nova {
    display: none;
}.nova. container-fluid {
    padding-top: 10px;
}. btn {
    font-size: 17px;
    padding: 10px;
    height: auto;
    padding: 5px;
    width: 100%;
}. btn-primary {
    color: #FFF;
    background-color: #189D98!important;
}.loadingtop {
    padding: 100px;
    margin: 10px;
    margin-top: -1px;
    height: 309px;
}.bottom-googlead {
    margin-bottom: 50px;
}

</style>
</template>
